.form{
    padding-left: 25%;
    text-align: left;
    width: 200px;
    display: block;
    size: 130%;
}
.design{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.design1{

    padding-left: 5%;
    text-align: left;
}
.design2{
    padding-right: 5%;
    text-align: right;
}
.submit{
    background-color: black;
    color: white;
}